.Contact{
    margin: 160px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Contact__icon{
        position: relative;
        .Contact__icon__circle{
            position: absolute;
            width: 61px;
            border-radius: 50%;
            height: 61px;
            background-color: #F84646;
            top: 6px;right: 4px;
            z-index: -1;
        }
    }
    a:nth-child(2){
        color: #000;
        font-size: 48px;
        font-weight: 800;
        padding-top: 10px;
        line-height: 32px;
    }
    a:nth-child(3){
        padding-top: 20px;
        padding-bottom: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }
    .Contact__Button {
        border: 0;
        background-color: #F84646;
        padding: 25px 40px;
        border-radius: 8px;
        a{
            font-size: 24px;
            line-height: 20px;
            font-weight: 600;
            color: #fff;
            // letter-spacing: 0.2px;
        }
    }
}
@media (min-width:1em)and (max-width:46.25em){
    .Contact{
        margin-top: 90px;
        margin-bottom: 82px;
        .Contact__icon{
            img{
                width: 90px;
            }
            .Contact__icon__circle{
                width: 45.75px;
                height: 45.75px;
                top: 4.5px;
                right: 3px;
            }
        }
        a:nth-child(2){
            padding-top: 10px;
            font-size: 36px;
        }
        a:nth-child(3){
            padding-top: 12px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        }
        .Contact__Button {
            width: 124px;
            border: 0;
            background-color: #F84646;
            padding: 11px 20.5px;
            border-radius: 8px;
            a{
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: #fff;
            }
        }
    }
}
